<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>API Project: Timestamp Microservice</h1>
    <h2>Example Usage</h2>
    <div class="centerBlock">
    <ul>
      <li>
        <a href="/api/timestamp/2015-12-25">/api/timestamp/2015-12-25</a>
      </li>
      <li>
        <a href="/api/timestamp/1451001600000">/api/timestamp/1451001600000</a>
      </li>
    </ul>
  </div>
    <h2>Example Output</h2>
    <div class="centerBlock">
      <pre>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</pre>
    </div>
  </body>
  <footer>Made with <i class="fa fa-heart"></i> and <a href="https://expressjs.com/">Express</a> by <a href="https://github.com/aarynsmith">Aaryn Smith</a></footer>
</html>